# Python
__pycache__/
*.pyc
*.h5
*.tflite
*.log

# Node.js
server/node_modules/
frontend/node_modules/
server/.env
frontend/.env

# Firebase keys
*.json
!package.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Training datasets (lourds)
training/dataset/
